.test {
  float: left;
  width: 240px;
  height: 240px;
  display: block;
}

#test1 { background-color: hsl(rand_between_0_and(360deg), 30%, 35%); }
#test2 { background-color: hsl(rand_between_0_and(360deg), 30%, 35%); }
#test3 { background-color: hsl(rand_between_0_and(360deg), 30%, 35%); }
#test4 { background-color: hsl(rand_between_0_and(360deg), 30%, 35%); }
#test5 { background-color: hsl(rand_between_0_and(360deg), 30%, 35%); }
#test6 { background-color: hsl(rand_between_0_and(360deg), 30%, 35%); }
#test7 { background-color: hsl(rand_between_0_and(360deg), 30%, 35%); }
#test8 { background-color: hsl(rand_between_0_and(360deg), 30%, 35%); }
#test9 { background-color: hsl(rand_between_0_and(360deg), 30%, 35%); }
